.search-form {
    margin-top: 10%;
    padding: 2rem 1rem;
    border: 2px solid #3604ab;
    background-color: #f7f7f7;
    display: block;

    height: 70%;
    width: 70%;
    position: fixed;
    left: 15%;
}

.form-header {
    padding-bottom: 1rem;
}

btn-search {
    background-color: #3604ab;
}