<div class="card info-container">
    <form class="info-form" (submit)="onReturn()">
        <fieldset disabled>
            <legend><b>Información básica</b></legend>
            <div class="mb-3">
                <label class="form-label text-body-secondary">Primer Apellido</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
            </div>

            <div class="mb-3">
                <label class="form-label text-body-secondary">Segundo Apellido</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
            </div>

            <div class="mb-3">
                <label class="form-label text-body-secondary">Primer Nombre</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
            </div>

            <div class="mb-3">
                <label class="form-label text-body-secondary">Segundo Nombre</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
            </div>

            <div class="mb-3">
                <label class="form-label text-body-secondary">Télefono</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
            </div>

            <div class="mb-3">
                <label class="form-label text-body-secondary">Dirección</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
            </div>

            <div class="mb-3">
                <label class="form-label text-body-secondary">Ciudad de residencia</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Volver</button>
    </form>
</div>