.search-form {
    padding: 2rem 1rem;
    box-shadow: 0 2px 8px 0 rgba(28, 131, 225, 0.35);
    border: solid 1px #1c83e1;
    background-color: #f7fbff;

    height: 70%;
    width: 70%;
    position: fixed;
    left: 15%;
}

.gray-info-label {
    color: #a4a4a4;
}

.btn-primary {
    font-size: large;
    background-color: #2454cb;
    border-radius: 80px;
    padding: 20px 10px;
}

.btn-primary:disabled {
    background-color: #f7f7f7;
    color: #a4a4a4;
    border: solid 1px #a4a4a4;
}

.form-label {
    color: #284d8c;
}