<form [formGroup]="userForm" (submit)="onSubmit()">
  <label>First Name</label>
  <input type="text" maxlength="20" formControlName="documentType">
  <div *ngIf=" userForm.controls.documentType.invalid && userForm.controls.documentType.touched">
    Document type is required
  </div>

  <label>Last Name</label>
  <input type="text" formControlName="documentNumber" maxlength="11" minlength="8" name="documento" class="form-control"
    required autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="1" />

  <div *ngIf=" userForm.controls.documentNumber.invalid && userForm.controls.documentNumber.touched">
    Document number is required
  </div>

  <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>