<form [formGroup]="userForm" (submit)="onSubmit()">
  <label>First Name
    <input type="text" formControlName="firstName">
  </label>
  <div *ngIf=" userForm.controls.firstName.invalid && userForm.controls.firstName.touched">
    First Name is required
  </div>

  <label>Last Name
    <input type="text" formControlName="lastName">
  </label>
  <div *ngIf=" userForm.controls.lastName.invalid && userForm.controls.lastName.touched">
    Last Name is required
  </div>

  <label>email
    <input type="email" formControlName="email">
  </label>
  <div *ngIf=" userForm.controls.email.invalid && userForm.controls.email.touched && userForm.controls.email.errors">
    <div *ngIf="userForm.controls.email.errors['required']">
      Email must not be null
    </div>
    <div *ngIf="userForm.controls.email.errors['email']">
      Invalid email Error
    </div>
  </div>
  <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>